main {
  font-family: 'Lexend', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  display: flex;
  flex-direction: column;
}

.segment {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 0.3rem;
  width: 994px;
  display: flex;
  justify-content: center;
  margin-inline-start: 223px;
  margin-block: 50px;
}

p {
  display: flex;
  justify-content: center;
  text-align: left;
  font-weight: 400;
  font-style: normal;
}

.LatestBlogPosts {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

/* -------------------------------------- */
/* ロゴ */

.Firstview {
  width: 994px;
  height: 612px;
  object-fit: cover;
  position: relative;
}

.FirstLogo {
  background-color: #cd3796;
  width: 329px;
  height: 42px;
  padding-inline: 15px;
  padding-block: 8px;
  position: absolute;
  top: 334px;
  right: 410px;
}

/* --------------------------------------- */
/* リストカード */

.blogList {
  max-width: 994px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.ImageItem {
  width: 320.67px;
  height: 240.27px;
}

/* .listItem_Wrap_SC {
  display: flex;
  flex-direction: column;
} */

.listItem_Wrap {
  display: flex;
  justify-content: space-between;
}

/* .listItem_Title {
  display: flex;
  justify-content: flex-start;
} */

.listName {
  font-size: 12px;
  font-weight: 400;
  color: #808080;
  display: flex;
}

/* .listHand {
  display: flex;
  justify-content: flex-end;
  padding-inline: 10px;
} */

/* --------------------------------------- */
/* ドロワーボタン */
header .drawerButton {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10000;
}

header .drawerButton span {
  display: block;
  width: 38px;
  height: 4px;
  background-color: #7b7979;
  border-radius: 4px;
  position: absolute;
  transition: 0.3s all linear;
}
header .drawerButton span:nth-child(1) {
  top: 10px;
  inset-inline: 0;
  margin-inline: auto;
}
header .drawerButton span:nth-child(2) {
  inset: 0;
  margin: auto;
}
header .drawerButton span:nth-child(3) {
  bottom: 10px;
  inset-inline: 0;
  margin-inline: auto;
}

/* --------------------------------------- */
/* モーダルウィンドウ */

.modalOverlay {
  position: fixed; /* 固定 */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalTop {
  display: flex;
  justify-content: center;

  img {
    width: 468px;
    height: 116px;
    object-fit: cover;
  }
}

.modalContent {
  width: 468px;
  height: 739px;
  background-color: #fff;
  position: relative;

  .closeButton {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    background-color: #fff;
    position: absolute;
    top: 4px;
    right: 4px;

    img {
      width: 20px;
      height: 20px;
      position: absolute;
      top: -2px;
      right: -2px;
    }
  }
}

/* --------------------------------------- */
/* フォーム */

.modalTitle {
  padding-block: 20px;
}

.modalParagraph {
  padding-block-end: 20px;
  line-height: 1rem;
  font-size: 15px;
}

.modalItem_title {
  font-size: 15px;
  font-weight: 600;
  text-align: left;
}

.selectArea {
  border: 1px solid #333;
  padding-block: 8px;
  padding-inline: 8px;
  margin-block-start: 10px;
  margin-block-end: 20px;
}

.commentArea {
  border: 1px solid #333;
  margin-block-start: 10px;
}

form {
  max-width: 468px;
  font-size: 14px;
  font-weight: 500;
}

.radio_sc {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.check_sc {
  max-width: 300px;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */
/* 
.introduction {
  font-weight: 700;
  display: flex;
} */

/* -------------------------------------- */
/* モーダルボタン */

.modalButtonWrapper {
  display: flex;
  justify-content: center;
}

.modalButton {
  display: block;
  padding-block: 10px;
  padding-inline: 50px;
  border-radius: 30px;
  color: #fff;
  background-color: #333;
}

#submitButton {
  padding-inline: 125px;
  padding-block: 5px;
  margin-inline: 75px;
  margin-block-start: 20px;
}

/* ---------------------------------- */
/* フッダー */
footer {
  width: 994px;
  height: 50px;
  background: linear-gradient(#2d0000, #000000);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 220px;
}

.fotterImage {
  text-align: center;
  color: #cd3796;
}
